extends layout

block content

  ul.breadcrumb
    li
      i.icon-home
      a(href='/catalog') Home
      i.icon-chevron-right
    li
      a(href='/catalog/tags') Tags
      i.icon-chevron-right
    li
      a(href='/catalog/tag/create') #{title}

  h1 #{title}

  .row-fluid.sortable
    .box.span12
      .box-header(data-original-title='')
        h2
          i.halflings-icon.white.edit
          span.break
          | #{title}
        .box-icon
          a.btn-setting(href='#')
            i.halflings-icon.white.wrench
          a.btn-minimize(href='#')
            i.halflings-icon.white.chevron-up
          a.btn-close(href='#')
            i.halflings-icon.white.remove
      .box-content
        form.form-horizontal(method='Post' action='')
          fieldset
            .control-group
              label.control-label(for='name') Tag:
              .controls
                input#focusedInput.input-xlarge.focused(type='text', placeholder='State, Foundation, etc.' name='name' value=(undefined===tag ? '' :tag.name))
            
            .form-actions
              button.btn.btn-primary(type='submit') Submit


  if errors 
    ul
      for error in errors
        li!= error.msg